default: &default
  adapter: postgresql
  encoding: unicode

development:
  url: <%= ENV['DATABASE_URL'] %>
  <<: *default

test:
  url: <%= ENV['TEST_DATABASE_URL'] %>
  <<: *default

production:
  <<: *default
  database: spa_backend_production
  username: spa_backend
  password: <%= ENV['SPA_BACKEND_DATABASE_PASSWORD'] %>
